@page
@model LodSalgsSystemFDF.Pages.Salgs.DeleteModel
@{
    ViewData["Title"] = "Delete";
}
<div class="content-container">
    <h1 style="margin-top:80px">
        <h1>Slet et Salg</h1>

        <h3 style="color:red">Er du sikker på at du vil slette det indberettede salg?</h3>
        <div>
            <h4>Salg</h4>
            <hr />
            <form method="post">
                <dl class="row">

                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Salg.Salg_ID)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Salg.Salg_ID)

                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Salg.Børn_ID)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Salg.Børn_ID)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Salg.Børnegruppe_ID)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Salg.Børnegruppe_ID)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Salg.Leder_ID)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Salg.Leder_ID)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Salg.Dato)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Salg.Dato)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Salg.AntalLodseddelerRetur)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Salg.AntalLodseddelerRetur)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Salg.AntalSolgteLodseddelerPrSalg)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Salg.AntalSolgteLodseddelerPrSalg)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Salg.Pris)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Salg.Pris)
                    </dd>
                </dl>


                <input type="hidden" asp-for="Salg.Salg_ID" />
                <input type="submit" value="Delete" class="btn btn-danger" />
                <a asp-page="/Salgs/GetSalgs">Klik Her for at vende tilbage til liste af salg</a>
            </form>
        </div>
</div>


