@page
@model LodSalgsSystemFDF.Pages.Salgs.GetSalgsModel
@{
    ViewData["Title"] = "GetSalgs";
}

<h1>Liste over alle salg</h1>
<p>
    <a asp-page="/Salgs/Create">Opret nyt Salg</a>
</p>

<h4 style="color:red"> Listen over alle salg</h4>
<table class="table">
    <thead>
        <tr>
            <th>
                Salg_ID
            </th>
            <th>
                Børn_ID
            </th>
            <th>
                Leder_ID
            </th>
            <th>
                Dato
            </th>
            <th>
                AntalLodseddelerRetur
            </th>
            <th>
                AntalSoglteLodseddeler
            </th>
            <th>
                Pris
            </th>
            <th>
                Slet Salg
            </th>
            <th>
                Ret Salg
            </th>
        </tr>
    </thead>
    <tbody>

        @if (Model != null)
        {
            @foreach (var item in Model.Salgs)
            {
                <tr>
                    <td>
                        @item.Salg_ID
                    </td>
                    <td>
                        @item.Børn_ID
                    </td>
                    <td>
                        @item.Leder_ID
                    </td>
                    <td>
                        @item.Dato
                    </td>
                    <td>
                        @item.AntalLodseddelerRetur
                    </td>
                    <td>
                        @item.AntalSolgteLodSeddelerPrSalg
                    </td>
                    <td>
                        @item.Pris
                    </td>
                    <td>
                        <p>
                            <a asp-page="/Salgs/Delete" asp-route-id="@item.Salg_ID"> Slet dette salg  </a>
                        </p>
                    </td>
                    <td>
                        <p>
                            <a asp-page="/Salgs/Update" asp-route-id="@item.Salg_ID"> Ret dette salg  </a>
                        </p>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
