@page
@model LodSalgsSystemFDF.Pages.Salgs.GetSalgsModel
@{
    ViewData["Title"] = "GetSalgs";
}
<h1 style="margin-top:80px">
<h1>Liste over alle salg</h1>
<p>
    <div class="mb-3">
    <a asp-page="/Salgs/Create" class="btn btn-primary">
        <i class="fa fa-plus" aria-hidden="true"></i> Tilføj nyt salg
    </a>
    </div>
</p>
<p>
    Søg efter BørnegruppeID
</p>
<form method="post" class="form-inline">
    <div class="input-group mb-3">
        <input asp-for="IDSearch" class="form-control mr-1" placeholder="Søg efter BørnegruppeID" />
        <input type="submit" asp-page-handler="BørnegruppeByID" value="Search" class="btn btn-primary" />
    </div>
</form>

<div class="container mt-5"style="background-color:white">
<div class="table-responsive">
    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
        <tr>
            <form method="post" class="form-inline">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Min</span>
                    </div>
                    <input asp-for="MinPrice" class="form-control mr-1" />

                    <div class="input-group-prepend">
                        <span class="input-group-text">Max</span>
                    </div>
                    <input asp-for="MaxPrice" class="form-control mr-1" />
                    <input type="submit" asp-page-handler="PriceFilter" value="Filter" class="btn btn-primary" />
                </div>
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            </form>
            <th>
                Salg ID
            </th>
            <th>
                Børn ID
            </th>
            <th>
                Børnegruppe ID
            </th>
            <th>
                Leder ID
            </th>
            <th>
                Dato
            </th>
            <th>
                Antal Lodseddeler Retur
            </th>
            <th>
                Antal Soglte Lodseddeler
            </th>
            <th>
                Pris
            </th>
            <th>
                Slet Salg
            </th>
            <th>
                Ret Salg
            </th>
        </tr>
    </thead>
    <tbody>

        @if (Model != null)
        {
            @foreach (var item in Model.Salgs)
            {
                <tr>
                    <td>
                        @item.Salg_ID
                    </td>
                    <td>
                        @item.Børn_ID
                    </td>
                    <td>
                        @item.Børnegruppe_ID
                    </td>
                    <td>
                        @item.Leder_ID
                    </td>
                    <td>
                        @item.Dato
                    </td>
                    <td>
                        @item.AntalLodseddelerRetur
                    </td>
                    <td>
                        @item.AntalSolgteLodseddelerPrSalg
                    </td>
                    <td>
                        @item.Pris
                    </td>
                    <td>
                        <p>
                            <a asp-page="/Salgs/Delete" asp-route-id="@item.Salg_ID">
                                <i class="fa fa-trash" aria-hidden="true"></i> Slet
                            </a>
                        </p>
                    </td>
                    <td>
                        <p>
                            <a asp-page="/Salgs/Update" asp-route-id="@item.Salg_ID">
                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Redigér
                            </a>
                        </p>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
</div>
</div>