@page
@model LodSalgsSystemFDF.Pages.Bornegrupper.GetBornegruppeModel
@{
    ViewData["Title"] = "GetBornegrupper";
}

<div class="content-container">
    <div class="container-fluid" style="margin-top:80px">

        <h1>Liste over alle børnegrupper</h1>

        <!-- Knappen vises altid -->
        <div class="mb-3">
            <a asp-page="/Bornegrupper/CreateBorngruppe" class="btn btn-primary">
                <i class="fa fa-plus" aria-hidden="true"></i> Tilføj ny børnegruppe
            </a>
        </div>

        <!-- Søgefelt -->
        <form method="post" class="form-inline">
            <div class="input-group mb-3">
                <input asp-for="NameSearch" class="form-control mr-1" placeholder="Søg efter børnegrupper" />
                <input type="submit" asp-page-handler="BornegruppeByName" value="Søg" class="btn btn-primary" />
            </div>
        </form>

        <!-- Tabel -->
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-sm table-stacked">
                <thead>
                    <tr>
                        <th>
                            ID
                            <a asp-page-handler="BornegruppeIDDescending"><i class="fa fa-angle-down"></i></a>
                            <a asp-page-handler="BornegruppeIDAscending"><i class="fa fa-angle-up"></i></a>
                        </th>
                        <th>
                            Gruppe navn
                            <a asp-page-handler="SortAllGruppeNavnDescending"><i class="fa fa-angle-down"></i></a>
                            <a asp-page-handler="SortAllGruppeNavnAscending"><i class="fa fa-angle-up"></i></a>
                        </th>
                        <th>Lokale</th>
                        <th>
                            Antal børn
                            <a asp-page-handler="SortAntalBornDescending"><i class="fa fa-angle-down"></i></a>
                            <a asp-page-handler="SortAntalBornAscending"><i class="fa fa-angle-up"></i></a>
                        </th>
                        <th>
                            Leder ID
                            <a asp-page-handler="SortAntalLederDescending"><i class="fa fa-angle-down"></i></a>
                            <a asp-page-handler="SortAntalLederAscending"><i class="fa fa-angle-up"></i></a>
                        </th>
                        <th>
                            Tildelte Lodsedler
                            <a asp-page-handler="SortAllAntalLodSeddelerPrGruppeDescending"><i class="fa fa-angle-down"></i></a>
                            <a asp-page-handler="SortAllAntalLodSeddelerPrGruppeAscending"><i class="fa fa-angle-up"></i></a>
                        </th>
                        <th>
                            Solgte lodseddeler pr. gruppe
                            <a asp-page-handler="SortAllAntalSolgtePrGruppeDescending"><i class="fa fa-angle-down"></i></a>
                            <a asp-page-handler="SortAllAntalSolgtePrGruppeAscending"><i class="fa fa-angle-up"></i></a>
                        </th>
                        <th>Slet</th>
                        <th>Opdater</th>
                        <th>Se Børn</th>
                        <th>Tildel Lodsedler</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Bornegrupper != null)
                    {
                        foreach (var item in Model.Bornegrupper)
                        {
                            <tr>
                                <td data-label="ID">@item.Bornegruppe_ID</td>
                                <td data-label="Gruppe navn">@item.Gruppenavn</td>
                                <td data-label="Lokale">@item.Lokale</td>
                                <td data-label="Antal børn">@item.Antalborn</td>
                                <td data-label="Leder ID">@item.Leder_ID</td>
                                <td data-label="Tildelte Lodsedler">@item.AntalLodSeddelerPrGruppe</td>
                                <td data-label="Solgte lodseddeler pr. gruppe">@item.AntalSolgteLodseddelerPrGruppe</td>

                                <td data-label="Slet">
                                    <a asp-page="/Bornegrupper/DeleteBorngruppe" asp-route-id="@item.Bornegruppe_ID">
                                        <i class="fa fa-trash"></i> Slet
                                    </a>
                                </td>
                                <td data-label="Opdater">
                                    <a asp-page="/Bornegrupper/UpdateBorngruppe" asp-route-id="@item.Bornegruppe_ID">
                                        <i class="fa fa-pencil-square-o"></i> Redigér
                                    </a>
                                </td>
                                <td data-label="Se Børn">
                                    <a asp-page="/Borns/BornIBornegrupper" asp-route-bid="@item.Bornegruppe_ID">
                                        Se børn
                                    </a>
                                </td>
                                <td data-label="Tildel Lodsedler">
                                    <a asp-page="/Bornegrupper/TildelLodsedlerBornegruppe" asp-route-id="@item.Bornegruppe_ID">
                                        <i class="fa fa-plus-square-o"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
