@page
@model LodSalgsSystemFDF.Pages.Børnegrupper.CreateBørngruppeModel
@{
    ViewData["Title"] = "Create Børnegruppe";
}
<div class="content-container">
<h1 style="margin-top:80px"> </h1>
<h1>Opret Ny Børnegruppe</h1>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="  ModelOnly  " class="text-danger">
            </div>

            <div class="form-group">
                <label asp-for="@Model.Børnegrupper.Børnegruppe_ID" class="control-label"></label>
                <input asp-for="@Model.Børnegrupper.Børnegruppe_ID" class="form-control" />
                <span asp-validation-for="@Model.Børnegrupper.Børnegruppe_ID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Børnegrupper.Gruppenavn" class="control-label"></label>
                <input asp-for="@Model.Børnegrupper.Gruppenavn" class="form-control" />
                <span asp-validation-for="@Model.Børnegrupper.Gruppenavn" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="@Model.Børnegrupper.Lokale" class="control-label"></label>
                <input asp-for="@Model.Børnegrupper.Lokale" class="form-control" />
                <span asp-validation-for="@Model.Børnegrupper.Lokale" class="text-danger"></span>
            </div>
            <label asp-for="@Model.Børnegrupper.Antalbørn" class="control-label"></label>
            <input asp-for="@Model.Børnegrupper.Antalbørn" class="form-control" />
            <span asp-validation-for="@Model.Børnegrupper.Antalbørn" class="text-danger"></span>

            <label asp-for="@Model.Børnegrupper.Leder_ID" class="control-label"></label>
            <input asp-for="@Model.Børnegrupper.Leder_ID" class="form-control" />
            <span asp-validation-for="@Model.Børnegrupper.Leder_ID" class="text-danger"></span>

            <label asp-for="@Model.Børnegrupper.AntalLodSeddelerPrGruppe" class="control-label"></label>
            <input asp-for="@Model.Børnegrupper.AntalLodSeddelerPrGruppe" class="form-control" />
            <span asp-validation-for="@Model.Børnegrupper.AntalLodSeddelerPrGruppe" class="text-danger"></span>

            <label asp-for="@Model.Børnegrupper.AntalSolgteLodseddelerPrGruppe" class="control-label"></label>
            <input asp-for="@Model.Børnegrupper.AntalSolgteLodseddelerPrGruppe" class="form-control" />
            <span asp-validation-for="@Model.Børnegrupper.AntalSolgteLodseddelerPrGruppe" class="text-danger"></span>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
            <div class="center-container">
                <a asp-page="/Børnegrupper/GetBørnegruppe">Tilbage til Børnegruppe</a>
            </div>
    </div>
</div>
</div>

