@page
@using LodSalgsSystemFDF.Pages.LogIn;
@model LodSalgsSystemFDF.Pages.Børnegrupper.GetBørnegruppeModel
@{
    ViewData["Title"] = "GetBørnegrupper";
}

<div class="content-container">
<div class="container-fluid" style="margin-top:80px">

    <h1>Liste over alle børnegrupper</h1>

    @{
        if (LogInPageModel.LoggedInBruger != null && LogInPageModel.LoggedInBruger.BrugerNavn == "admin" || LogInPageModel.LoggedInBruger.BrugerNavn == "lotteribestyrer")
        {
            <p>
                <div class="mb-3">
                    <a asp-page="/Børnegrupper/CreateBørngruppe" class="btn btn-primary">
                        <i class="fa fa-plus" aria-hidden="true"></i> Tilføj ny børnegruppe
                    </a>
                </div>
            </p>
        }
    }

    <head>
        <title>Search Bar Example</title>
    </head>
    @* Ombyrder teksten i forskellige colonner i table *@
        <style>
            th {
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }

                th a {
                    margin-left: 5px;
                }
        </style>
    
    <body>

        <form method="post" class="form-inline">
            <div class="input-group mb-3">
                <input asp-for="NameSearch" class="form-control mr-1" placeholder="Søg efter børnegrupper" />
                <input type="submit" asp-page-handler="BørnegruppeByName" value="Search" class="btn btn-primary" />
            </div>
        </form>

    </body>

    @* <style>
    th {
    display: flex;
    justify-content: space-between;
    }

    th a {
    margin-left: 100px; /* Adjust the margin as needed for spacing */
    }
    </style> *@
    <div class="table-responsive">
    <table class="table table-striped table-bordered table-responsive table-sm">
        <thead>

            <tr>
                @{

                    if (LogInPageModel.LoggedInBruger != null && LogInPageModel.LoggedInBruger.BrugerNavn == "admin" || LogInPageModel.LoggedInBruger.BrugerNavn == "lotteribestyrer")
                    {
                        <th>
                            Børnegruppe ID
                            <a data-toggle="tooltip" title="Sorter ID faldende" asp-page-handler="BørnegruppeIDDescending"><i class="fa fa-angle-down"></i></a>
                            <a data-toggle="tooltip" title="Sorter ID rejsende" asp-page-handler="BørngruppeIDAscending"><i class="fa fa-angle-up"></i></a>
                        </th>
                        <th>
                            Gruppenavn
                            <a data-toggle="tooltip" title="Sorter ID faldende" asp-page-handler="SortAllGruppeNavnDescending"><i class="fa fa-angle-down"></i></a>
                            <a data-toggle="tooltip" title="Sorter ID rejsende" asp-page-handler="SortAllGruppeNavnAscending"><i class="fa fa-angle-up"></i></a>
                        </th>
                        <th>
                            Lokale

                        </th>
                        <th>
                            Antal Børn
                            <a data-toggle="tooltip" title="Sorter ID faldende" asp-page-handler="SortAntalBørnDescending"><i class="fa fa-angle-down"></i></a>
                            <a data-toggle="tooltip" title="Sorter ID rejsende" asp-page-handler="SortAntalBørnAscending"><i class="fa fa-angle-up"></i></a>
                        </th>
                        <th>
                            Leder ID
                            <a data-toggle="tooltip" title="Sorter ID faldende" asp-page-handler="SortAntalLederDescending"><i class="fa fa-angle-down"></i></a>
                            <a data-toggle="tooltip" title="Sorter ID rejsende" asp-page-handler="SortAntalLederAscending"><i class="fa fa-angle-up"></i></a>
                        </th>
                        <th>
                            Lodseddeler pr.gruppe
                            <a data-toggle="tooltip" title="Sorter ID faldende" asp-page-handler="SortAllAntalLodSeddelerPrGruppeDescending"><i class="fa fa-angle-down"></i></a>
                            <a data-toggle="tooltip" title="Sorter ID rejsende" asp-page-handler="SortAllAntalLodSeddelerPrGruppeAscending"><i class="fa fa-angle-up"></i></a>
                        </th>
                        <th>
                            Solgte lodseddeler pr. gruppe
                            <a data-toggle="tooltip" title="Sorter ID faldende" asp-page-handler="SortAllAntalSolgtePrGruppeDescending"><i class="fa fa-angle-down"></i></a>
                            <a data-toggle="tooltip" title="Sorter ID rejsende" asp-page-handler="SortAllAntalSolgtePrGruppeAscending"><i class="fa fa-angle-up"></i></a>
                        </th>
                        <th>
                            Slet børnegruppe
                        </th>
                        <th>
                            Opdater børnegruppe
                        </th>
                        <th>
                            Se Børn i Børnegruppe
                        </th>
                        <th>
                            Tildel Lodsedler til Børnegruppe
                        </th>
                    }
                    if (LogInPageModel.LoggedInBruger != null && LogInPageModel.LoggedInBruger.BrugerNavn == "leder")
                    {
                        <th>
                            Børnegruppe ID
                            <a data-toggle="tooltip" title="Sorter ID faldende" asp-page-handler="BørnegruppeIDDescending"><i class="fa fa-angle-down"></i></a>
                            <a data-toggle="tooltip" title="Sorter ID rejsende" asp-page-handler="BørngruppeIDAscending"><i class="fa fa-angle-up"></i></a>
                        </th>
                        <th>
                            Gruppenavn
                            <a data-toggle="tooltip" title="Sorter ID faldende" asp-page-handler="SortAllGruppeNavnDescending"><i class="fa fa-angle-down"></i></a>
                            <a data-toggle="tooltip" title="Sorter ID rejsende" asp-page-handler="SortAllGruppeNavnAscending"><i class="fa fa-angle-up"></i></a>
                        </th>
                        <th>
                            Lokale

                        </th>
                        <th  >
                            Antal Børn
                            <a data-toggle="tooltip" title="Sorter ID faldende" asp-page-handler="SortAntalBørnDescending"><i class="fa fa-angle-down"></i></a>
                            <a data-toggle="tooltip" title="Sorter ID rejsende" asp-page-handler="SortAntalBørnAscending"><i class="fa fa-angle-up"></i></a>
                        </th>
                        <th  >
                            Leder ID
                            <a data-toggle="tooltip" title="Sorter ID faldende" asp-page-handler="SortAntalLederDescending"><i class="fa fa-angle-down"></i></a>
                            <a data-toggle="tooltip" title="Sorter ID rejsende" asp-page-handler="SortAntalLederAscending"><i class="fa fa-angle-up"></i></a>
                        </th>
                        <th  >
                            Lodseddeler pr.gruppe
                            <a data-toggle="tooltip" title="Sorter ID faldende" asp-page-handler="SortAllAntalLodSeddelerPrGruppeDescending"><i class="fa fa-angle-down"></i></a>
                            <a data-toggle="tooltip" title="Sorter ID rejsende" asp-page-handler="SortAllAntalLodSeddelerPrGruppeAscending"><i class="fa fa-angle-up"></i></a>
                        </th>
                        <th  >
                            Solgte lodseddeler pr. gruppe
                            <a data-toggle="tooltip" title="Sorter ID faldende" asp-page-handler="SortAllAntalSolgtePrGruppeDescending"><i class="fa fa-angle-down"></i></a>
                            <a data-toggle="tooltip" title="Sorter ID rejsende" asp-page-handler="SortAllAntalSolgtePrGruppeAscending"><i class="fa fa-angle-up"></i></a>
                        </th>
                        <th>
                            Se Børn i Børnegruppe
                        </th>
                        <th>
                            Tildel Lodsedler til Børnegruppe
                        </th>
                    }
                }


            </tr>
        </thead>
        <tbody>

            @if (Model.Børnegrupper != null)
            {
                @foreach (var item in Model.Børnegrupper)
                {

                    if (LogInPageModel.LoggedInBruger != null && LogInPageModel.LoggedInBruger.BrugerNavn == "admin" || LogInPageModel.LoggedInBruger.BrugerNavn == "lotteribestyrer")
                    {
                        <tr>
                            <td>
                                @item.Børnegruppe_ID
                            </td>
                            <td>
                                @item.Gruppenavn
                            </td>
                            <td>
                                @item.Lokale
                            </td>
                            <td>
                                @item.Antalbørn
                            </td>
                            <td>
                                @item.Leder_ID
                            </td>
                            <td>
                                @item.AntalLodSeddelerPrGruppe
                            </td>
                            <td>
                                @item.AntalSolgteLodseddeler
                            </td>
                            <td>
                                <p>
                                    <a asp-page="/Børnegrupper/DeleteBørngruppe" asp-route-id="@item.Børnegruppe_ID">
                                        <i class="fa fa-trash" aria-hidden="true"></i> Slet
                                    </a>
                                </p>
                            </td>
                            <td>
                                <a asp-page="/Børnegrupper/UpdateBørngruppe" asp-route-id="@item.Børnegruppe_ID">
                                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Redigér
                                </a>
                            </td>
                            
                            <td>

                                <a asp-page="/Børns/GetBørn" asp-page-handler="BørnInBørnegruppe" asp-route-id=" @item.Børnegruppe_ID"> Se Børn i specifikke gruppe  </a>

                            </td>
                            <td>
                                <a asp-page="TildelLodsedlerBørnegruppe" asp-route-id="@item.Børnegruppe_ID">
                                    <i class="fa fa-plus-square-o" aria-hidden="true"></i>
                                </a>
                            </td>

                        </tr>
                    }
                    if (LogInPageModel.LoggedInBruger != null && LogInPageModel.LoggedInBruger.BrugerNavn == "leder")
                    {
                        <tr>
                            <td>
                                @item.Børnegruppe_ID
                            </td>
                            <td>
                                @item.Gruppenavn
                            </td>
                            <td>
                                @item.Lokale
                            </td>
                            <td>
                                @item.Antalbørn
                            </td>
                            <td>
                                @item.Leder_ID
                            </td>
                            <td>
                                @item.AntalLodSeddelerPrGruppe
                            </td>
                            <td>
                                @item.AntalSolgteLodseddeler
                            </td>
                            <td>

                                <a asp-page="/Børns/GetBørn" asp-page-handler="BørnInBørnegruppe" asp-route-id=" @item.Børnegruppe_ID"> Se Børn i specifikke gruppe  </a>

                            </td>
                            <td>
                                <a class="btn" type="button" asp-page="TildelLodsedlerBørnegruppe" asp-route-id="@item.Børnegruppe_ID"><i class="fa fa-plus-square"></i></a>
                            </td>
                        </tr>
                    }   
                }
            }
        </tbody>
    </table>
    </div>
</div>
</div>
