@page
@model LodSalgsSystemFDF.Pages.Børnegrupper.GetBørnegruppeModel
@{
    ViewData["Title"] = "GetBørnegrupper";
}

@* <style>
    /* Add top margin equal to the height of the fixed navbar */
    body {
        margin-top: 100px; /* Adjust the value based on the actual height of your navbar */
    }
</style> *@

<h1>Liste over alle børnegrupper </h1>


<p>
    <a asp-page="/Børnegrupper/CreateBørngruppe">
        <i class="fa fa-plus" aria-hidden="true"></i>
    </a>
</p>
<head>
    <title>Search Bar Example</title>
</head>
<body>

    <form method="post" class="form-inline">
        <div class="input-group mb-3">
            <input asp-for="NameSearch" class="form-control mr-1" placeholder="Søg efter børnegrupper" />
            <input type="submit" asp-page-handler="BørnegruppeByName" value="Search" class="btn btn-primary" />
        </div>
    </form>
    
</body>

<h4 style="color:red"> List of Børnegrupper</h4>
@* <style>
    th {
        display: flex;
        justify-content: space-between;
    }

    th a {
        margin-left: 100px; /* Adjust the margin as needed for spacing */
    }
</style> *@
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                Børnegruppe ID 
                <a data-toggle="tooltip" title="Sorter ID faldende" asp-page-handler="BørnegruppeIDDescending"><i class="fa fa-angle-down"></i></a>
                <a data-toggle="tooltip" title="Sorter ID rejsende" asp-page-handler="BørngruppeIDAscending"><i class="fa fa-angle-up"></i></a>
            </th>
            <th>
                Gruppenavn
                <a data-toggle="tooltip" title="Sorter ID faldende" asp-page-handler="SortAllGruppeNavnDescending"><i class="fa fa-angle-down"></i></a>
                <a data-toggle="tooltip" title="Sorter ID rejsende" asp-page-handler="SortAllGruppeNavnAscending"><i class="fa fa-angle-up"></i></a>
            </th>
            <th>
                Lokale

            </th>
            <th>
                Antal Børn
                <a data-toggle="tooltip" title="Sorter ID faldende" asp-page-handler="SortAntalBørnDescending"><i class="fa fa-angle-down"></i></a>
                <a data-toggle="tooltip" title="Sorter ID rejsende" asp-page-handler="SortAntalBørnAscending"><i class="fa fa-angle-up"></i></a>
            </th>
            <th>
                Leder ID
                <a data-toggle="tooltip" title="Sorter ID faldende" asp-page-handler="SortAntalLederDescending"><i class="fa fa-angle-down"></i></a>
                <a data-toggle="tooltip" title="Sorter ID rejsende" asp-page-handler="SortAntalLederAscending"><i class="fa fa-angle-up"></i></a>
            </th>
            <th>
                Lodseddeler pr.gruppe
                <a data-toggle="tooltip" title="Sorter ID faldende" asp-page-handler="SortAllAntalLodSeddelerPrGruppeDescending"><i class="fa fa-angle-down"></i></a>
                <a data-toggle="tooltip" title="Sorter ID rejsende" asp-page-handler="SortAllAntalLodSeddelerPrGruppeAscending"><i class="fa fa-angle-up"></i></a>
            </th>
            <th>
                Solgte lodseddeler pr. gruppe
                <a data-toggle="tooltip" title="Sorter ID faldende" asp-page-handler="SortAllAntalSolgtePrGruppeDescending"><i class="fa fa-angle-down"></i></a>
                <a data-toggle="tooltip" title="Sorter ID rejsende" asp-page-handler="SortAllAntalSolgtePrGruppeAscending"><i class="fa fa-angle-up"></i></a>
            </th>
            <th>
                Slet børnegruppe
            </th>
            <th>
                Opdater børnegruppe
            </th>
        </tr>
    </thead>
    <tbody>

        @if (Model != null)
        {
            @foreach (var item in Model.Børnegrupper)
            {
                <tr>
                    <td>
                        @item.Børnegruppe_ID
                    </td>
                    <td>
                        @item.Gruppenavn
                    </td>
                    <td>
                        @item.Lokale
                    </td>
                    <td>
                        @item.Antalbørn
                    </td>
                    <td>
                        @item.Leder_ID
                    </td>
                    <td>
                        @item.AntalLodSeddelerPrGruppe
                    </td>
                    <td>
                        @item.AntalSolgteLodseddeler
                    </td>
                    <td>
                        <p>
                            <a asp-page="/Børnegrupper/DeleteBørngruppe" asp-route-id="@item.Børnegruppe_ID">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </a>
                        </p>
                    </td>
                    <td>
                        <a asp-page="/Børnegrupper/UpdateBørngruppe" asp-route-id="@item.Børnegruppe_ID">
                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                        </a>
                    </td>
                    
                </tr>
            }
        }
    </tbody>
</table>