@page
@model LodSalgsSystemFDF.Pages.Børnegrupper.UpdateBørngruppeModel
@{
}

<h1 style="margin-top:80px"> </h1>
<h1>Ret børnegruppe</h1>

<h3 style="color:red">  Er du sikker på du vil rette denne børnegruppen?</h3>
<div>
    <h4>Børnegruppe</h4>
    <hr />
    <form method="post">


        <div class="form-group">
            <label asp-for="@Model.Børnegruppe.Børnegruppe_ID" class="control-label"></label>
            <input asp-for="@Model.Børnegruppe.Børnegruppe_ID" class="form-control" />
            <span asp-validation-for="@Model.Børnegruppe.Børnegruppe_ID" class="text-danger"></span>
        </div>


        <div class="form-group">
            <label asp-for="@Model.Børnegruppe.Gruppenavn" class="control-label"></label>
            <input asp-for="@Model.Børnegruppe.Gruppenavn" class="form-control" />
            <span asp-validation-for="@Model.Børnegruppe.Gruppenavn" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="@Model.Børnegruppe.Lokale" class="control-label"></label>
            <input asp-for="@Model.Børnegruppe.Lokale" class="form-control" />
            <span asp-validation-for="@Model.Børnegruppe.Lokale" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="@Model.Børnegruppe.Antalbørn" class="control-label"></label>
            <input asp-for="@Model.Børnegruppe.Antalbørn" class="form-control" />
            <span asp-validation-for="@Model.Børnegruppe.Antalbørn" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="@Model.Børnegruppe.Leder_ID" class="control-label"></label>
            <input asp-for="@Model.Børnegruppe.Leder_ID" class="form-control" />
            <span asp-validation-for="@Model.Børnegruppe.Leder_ID" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="@Model.Børnegruppe.AntalLodSeddelerPrGruppe" class="control-label"></label>
            <input asp-for="@Model.Børnegruppe.AntalLodSeddelerPrGruppe" class="form-control" />
            <span asp-validation-for="@Model.Børnegruppe.AntalLodSeddelerPrGruppe" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="@Model.Børnegruppe.AntalSolgteLodseddeler" class="control-label"></label>
            <input asp-for="@Model.Børnegruppe.AntalSolgteLodseddeler" class="form-control" />
            <span asp-validation-for="@Model.Børnegruppe.AntalSolgteLodseddeler" class="text-danger"></span>
        </div>

        <input type="hidden" asp-for="Børnegruppe.Børnegruppe_ID" />
        <input type="submit" value="Update" class="btn btn-danger" />
        <a asp-page="/Børnegrupper/GetBørnegrupper">Tilbage til listen af Indtægter</a>
    </form>

</div>
