@page
@model LodSalgsSystemFDF.Pages.Indtægter.DeleteModel
@{
    ViewData["Title"] = "Delete";
}

<h1>Slet en indtægt</h1>

<h3>Er du sikker på at du vil slette denne indtægt?</h3>
<div>
    <h4>Indtægt</h4>
    <hr />
    <form method="post">
        <dl class="row">

            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Indtægt.Indtægt_ID)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Indtægt.Indtægt_ID)

            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Indtægt.Dato)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Indtægt.Dato)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Indtægt.Salg_ID)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Indtægt.Salg_ID)
            </dd>
        </dl>
        <input type="hidden" asp-for="Indtægt.Indtægt_ID" />
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a asp-page="/Indtægter/GetIndtægter">Klik Her for at vende tilbage til listen af indtægter</a>
    </form>
</div>

