@page
@model LodSalgsSystemFDF.Pages.Indtægter.GetIndtægterModel
@{
    ViewData["Title"] = "GetIndtæger";
}

<h1>Liste over alle indtægter</h1>
<p>
    <a asp-page="/Indtægter/Create">Opret ny indtægt</a>
</p>
<form method="post" class="form-inline">
    <div class="input-group mb-3">
        <input asp-for="NameSearch" class="form-control mr-1" placeholder="Enter search term" />
        <input type="submit" asp-page-handler="BørnegruppeByName" value="Search" class="btn btn-primary" />
    </div>
</form>
<h4 style="color:red"> Liste over alle indtægter</h4>
<table class="table">
    <thead>
        <tr>
            <th>
                Indtægt_ID
            </th>
            <th>
                Salg_ID
            </th>
            <th>
                Dato
            </th>
            <th>
                Børn_ID
            </th>
            <th>
                Børnegruppe_ID
            </th>
            <th>
                Gruppenavn
            </th>
            <th>
                Navn
            </th>
            <th>
                Adresse
            </th>
            <th>
                Telefon
            </th>
            <th>
                Antal Solgte Lodsedeler @* <a data-toggle="tooltip" title="Sorter lodsedler faldende" asp-page-handler="AntalSolgteLodseddelerDESC"><i class="fa fa-angle-down"></i></a> <a data-toggle="tooltip" title="Sorter lodsedler rejsende" asp-page-handler="AntalSolgteLodseddelerASC"><i class="fa fa-angle-up"></i></a> *@
            </th>
            <th>
                Solgte Lodsedeler for gruppen
            </th>
            <th>
                Slet indtægt
            </th>
            <th>
                Ret indtægt
            </th>
        </tr>
    </thead>
    <tbody>

        @if (Model != null)
        {
            @foreach (var item in Model.Indtægter)
            {
                <tr>
                    <td>
                        @item.Indtægt_ID
                    </td>
                    
                    <td>
                        @item.Salg_ID
                    </td>
                    <td>
                        @item.Salg.Dato
                    </td>
                    <td>
                        @item.Børn.Børn_ID
                    </td>
                    <td>
                        @item.Børnegruppe.Børnegruppe_ID
                    </td>
                    <td>
                        @item.Børnegruppe.Gruppenavn
                    </td>
                    <td>
                        @item.Børn.Navn
                    </td>
                    <td>
                        @item.Børn.Adresse
                    </td>
                    <td>
                        @item.Børn.Telefon
                    </td>
                    <td>
                        @item.Børn.AntalSolgteLodseddeler
                    </td>
                    <td>
                        @item.Børnegruppe.AntalSolgteLodseddeler
                    </td>
                    <td>
                        <p>
                            <a asp-page="/Indtægter/Delete" asp-route-id="@item.Indtægt_ID"> Slet denne indtægt  </a>
                        </p>
                    </td>
                    <td>
                        <p>
                            <a asp-page="/Indtægter/Update" asp-route-id="@item.Indtægt_ID"> Ret denne indtægt  </a>
                        </p>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>