@page
@model LodSalgsSystemFDF.Pages.Ledere.GetLedereModel
@{
    ViewData["Title"] = "GetLedere";
}
<h1 style="margin-top:80px">
<h1>Liste over ledere</h1>
<p>
    <div class="mb-3">
    <a asp-page="/Ledere/CreateLeder" class="btn btn-primary">
        <i class="fa fa-plus" aria-hidden="true"></i> Tilføj ny leder
    </a>
    </div>
</p>
<form method="post" class="form-inline">
    <div class="input-group mb-3">
        <input asp-for="LederSearch" class="form-control mr-1" placeholder="Søg efter leder" />
        <input type="submit" asp-page-handler="LederByname" value="Search" class="btn btn-primary" />
    </div>
</form>
<div class="table-responsive">
    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
        <tr>
            <th>
                Leder_ID
            </th>
            <th>
            Leder navn <a data-toggle="tooltip" title="Sorter navn faldende" asp-page-handler="LederNavnDescending"><i class="fa fa-angle-down"></i></a> <a data-toggle="tooltip" title="Sorter navn rejsende" asp-page-handler="LederNavnAscending"><i class="fa fa-angle-up"></i></a>
            </th>
            <th>
                Adresse
            </th>
            <th>
                Telefon
            </th>
            <th>
                Email
            </th>
            @*<th>
                Er Lotteri Bestyrer
            </th>*@
            <th>
                Børnegruppe ID
            </th>
            <th>
                Slet Leder
            </th>
            <th>
                Ret Leder
            </th>
        </tr>
    </thead>
    <tbody>

        @if (Model != null)
        {
            @foreach (var item in Model.Ledere)
            {
                <tr>
                    <td>
                        @item.Leder_ID
                    </td>
                    <td>
                        @item.Navn
                    </td>
                    <td>
                        @item.Adresse
                    </td>
                    <td>
                        @item.Telefon
                    </td>
                    <td>
                        @item.Email
                    </td>
                    @*<td>
                        @item.ErLotteriBestyrer
                    </td>*@
                    <td>
                        @item.Børnegruppe_ID
                    </td>
                    <td>
                        <p>
                            <a asp-page="/Ledere/DeleteLeder" asp-route-Leder_ID="@item.Leder_ID"> <i class="fa fa-trash" aria-hidden="true"></i> Slet  </a>
                        </p>
                    </td>
                    <td>
                        <p>
                            <a asp-page="/Ledere/UpdateLeder" asp-route-Leder_ID="@item.Leder_ID"> <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Redigér  </a>
                        </p>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
</div>